<main class="MenuPageMain">
<div class="row">
  <div class="col-10">
    <h1 class="MenuPage-title">Menu</h1>
        <%= render partial: "menu-section", locals:{
          section_title: "Juice",
          menus: Menu.all.order(:name).juice
        } %>

        <%= render partial: "menu-section", locals:{
          section_title: "Starters",
          menus: Menu.all.order(:name).starters
        } %>

        <%= render partial:"menu-section", locals:{
          section_title: "Desserts",
          menus: Menu.all.order(:name).dessert
        } %>
  </div>
  <div class="col-2 bg-secondary">
      <p class="fs-5 fst-bold text-white " ><%= @current_user.name.capitalize %>'s Cart</p>
      <p style="color: white">Items in the cart : <%= Cart.all.where("user_id = ? ", @current_user.id).sum(:quantity) %> </p>
    <div class="row">
      <% Cart.all.where("user_id = ?", @current_user.id).each do |cart_item|%>
        <% if cart_item and cart_item.quantity >0 %>
          <div class="col-12">
            <div class="card mb-1 border border-1">
              <div class="p-1">
                <h5 class="card-title fw-bold"><%=cart_item.menu_name.capitalize%></h5>
                <div  class="card-text">Qty: <%= cart_item.quantity%></div>
                <div class="card-text"> Rs: <%=cart_item.menu_price%></div>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>

    <%= form_with(url: "/carts/", method:"get") do %>
      <input type="submit" value="Checkout" class="btn btn-success">
    <%end%>
  </div>

  </div>
</main>
